html {
  background-image: url('./images/main_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Tahoma, Verdana, sans-serif;
}

nav ul {
  list-style-type: none;
  margin-top: 153px;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(147, 120, 91, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgba(126, 104, 90, 1);
}

header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-image: url('./images/banner.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 92%;
  margin: 235px auto 0 auto;
  background-color: rgba(247, 207, 163, 0.9);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style-type: square;
  font-size: 18px;
}

ol {
  list-style-type: upper-roman;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgba(140, 140, 140, 1);
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgba(79, 72, 58, 1);
}

th,
td {
  background-color: rgba(245, 230, 204, 0.8);
  border: 1px solid rgba(160, 160, 160, 1);
  padding: 8px 10px;
}

footer {
  width: 98%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgba(247, 207, 163, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
